#pfp img{
  width: 400px;
  height: 400px;
  border-radius: 200px;
}

#cover img{
  width: 100%;
  height: ;
  overflow: hidden;
}

.row{
  /*display: inline;*/
  display: flex; /* Enables flexbox */ 
  justify-content: space-between; /* Aligns items in a row with space between */ 
  /*column-gap: 50px;*/
  /*row-gap: 50px;*/
 margin-right: auto;
    margin-left: auto; 
}

.project-wrap{
  border-radius: 10px;
  width: 400px;
  text-align: center;
  background-color: gray;  
  border: 5px solid gray;
  height: 250px;
}

.project-thumb img{
  width: 400px;
  height: 200px;
  object-fit:scale-down;
}

body{
  background-color: white;
}
