#pfp img{
  width: 400px;
  height: 400px;
  border-radius: 200px;
}

#cover img{
  width: 100%;
  height: ;
  overflow: hidden;
}

.row{
  display: grid;
  /*grid-template-columns: repeat(12, 1fr);*/
  /*grid-column-gap: 5px;*/
  /*grid-row-gap: 5px;*/
}

#project-preview img{
  border-radius: 10px;
  width: 50%;
  overflow: hidden;
}

body{
  background-color: white;
}
